<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title }) %>
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/navigation') %>
    <div class="content">
      <h1>Brands:</h1>
      <!-- prettier-ignore -->
      <% brandsList.forEach((brand) => { %>
      <h3><a href="<%= brand.url %>"><%= brand.name %></a></h3>
      <p><%= brand.description %></p>
      <a href="<%= brand.url + '/delete' %>">Delete</a>
      <a href="<%= brand.url + '/update' %>">Update</a>
      <hr />
      <% }) %>
    </div>
    <%- include('./partials/footer') %>
    <!-- prettier-ignore -->
  </body>
</html>
