<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navigation') %>
    <h1>Brands:</h1>
    <!-- prettier-ignore -->
    <% brandsList.forEach((brand) => { %>
    <h3><a href="<%= brand.url %>"><%= brand.name %></a></h3>
    <p><%= brand.description %></p>
    <a href="<%= brand.url + '/delete' %>">Delete</a>
    <% }) %>
    <!-- prettier-ignore -->
  </body>
</html>
