<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title }) %>
  <body>
    <%- include('./partials/header') %> <%- include('./partials/navigation') %>
    <div class="content">
      <h1><%= title %> bicycles:</h1>
      <% filteredBicycles.forEach(element => { %>
      <h3><a href="<%= element.url %>"><%= element.name %></a></h3>
      <p><%= element.description %></p>
      <p>Price: <%= element.price %> €</p>
      <hr>
      <% }); %>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
