<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title }) %>
  <body>
    <%- include('./partials/header') %> <%- include('./partials/navigation') %>
    <div class="content">
      <h1><%= title %></h1>
      <form action="" method="post">
        <label for="name">Name: </label><br />
        <input
          type="text"
          name="name"
          id="name"
          value="<%= brand.name %>"
        /><br />
        <label for="description">Description: </label><br />
        <textarea name="description" id="description" cols="21" rows="10">
      <%= brand.description %></textarea
        ><br />
        <button type="submit">Update brand</button>
        <a href="/brands">Go back and cancel update</a>
      </form>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
