<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title }) %>
  <body>
    <!-- prettier-ignore -->
    <%- include('./partials/navigation') %>
    <h1>Category:</h1>
    <% categoryList.forEach(category => { %>
    <h3><a href="<%= category.url %>"><%= category.name %></a></h3>
    <p><%= category.description %></p>
    <a href="<%= category.url + '/delete' %> ">Delete</a>
    <a href="<%= category.url + '/update' %> ">Update</a>
    <% }); %>
    <!-- prettier-ignore -->
  </body>
</html>
