<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title }) %>
  <body>
    <%- include('./partials/navigation') %>
    <h1>Bicycle inventory</h1>
    <p>Only the best bicycles</p>
    <h2>We have:</h2>
    <ul>
      <li><%= bicycle %> bicycles</li>
      <li><%= brand %> brands</li>
      <li><%= category %> categories</li>
    </ul>
  </body>
</html>
